<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<style>
  #container {
    width: 150px;
    height: 150px;
    /*border-radius: 25px;*/
    border: 2px solid Black;
    padding: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
    background: #A4D3EE;
    overflow: visible;
    box-shadow: 5px 5px 2px #888888;
    position: relative;
    background-repeat: no-repeat;
    background-size: 150px 150px;
  }

  #x {
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
  }
</style>
<div class="row">
  <!-- column -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="billDetailForm">
          <div class="form-row" *ngIf="f().controls.invoiceNo?.touched && f().controls.invoiceNo?.errors?.required">
            <div class="col-md-12">
              <ngb-alert [dismissible]="false">
                Invoice no must not be empty.
              </ngb-alert>
            </div>
          </div>
          <div class="form-row" *ngIf="f().controls.amount?.touched && f().controls.amount?.errors?.required">
            <div class="col-md-12">
              <ngb-alert [dismissible]="false">
                Amount must not be empty.
              </ngb-alert>
            </div>
          </div>
          <div class="form-row" *ngIf="f().controls.amount?.touched && f().controls.amount?.errors?.pattern">
            <div class="col-md-12">
              <ngb-alert [dismissible]="false">
                Amount must be number.
              </ngb-alert>
            </div>
          </div>
          <div class="form-row"
            *ngIf="f().controls.billMonth?.touched && (f().controls.billMonth?.errors?.billPeriod || f().controls.billYear?.errors?.billPeriod)">
            <div class="col-md-12">
              <ngb-alert [dismissible]="false">
                Bill period already exists.
              </ngb-alert>
            </div>
          </div>
          <div class="form-row"
            *ngIf="f().controls.billMonth?.touched && f().controls.billMonth?.errors?.required">
            <div class="col-md-12">
              <ngb-alert [dismissible]="false">
                Bill month must be selected.
              </ngb-alert>
            </div>
          </div>
          <div class="form-row"
          *ngIf="f().controls.billYear?.touched && f().controls.billYear?.errors?.required">
          <div class="col-md-12">
            <ngb-alert [dismissible]="false">
              Bill year must be selected.
            </ngb-alert>
          </div>
        </div>
          <div class="form-row"
            *ngIf="f().controls.filename?.touched && f().controls.filename?.errors?.required">
            <div class="col-md-12">
              <ngb-alert [dismissible]="false">
                Receipt must be uploaded.
              </ngb-alert>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-12">
              <label for="houseId">House</label>
              <div [ngClass]="{ 'border border-danger': f().controls?.houseId?.errors?.required }">
                <ng-select2 [data]="select2houses" [options]="options" [width]="500" formControlName="houseId">
                </ng-select2>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="invoiceNo">Invoice No</label>
              <input class="form-control" formControlName="invoiceNo"
                [ngClass]="{ 'border border-danger': f().controls.invoiceNo.errors?.required }" id="invoiceNo"
                placeholder="Invoice No">
            </div>
            <div class="form-group col-md-6">
              <label for="amount">Amount</label>
              <input class="form-control" formControlName="amount"
                [ngClass]="{ 'border border-danger': (f().controls.amount.errors?.required || f().controls.amount?.errors?.pattern) }"
                id="amount" placeholder="Amount">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Period Month</label>
              <select class="form-control" id="billMonth" [compareWith]="compareFn" formControlName="billMonth"
                (change)="onBillMonthChange()"
                [ngClass]="{ 'border border-danger': f().controls.billMonth.errors?.billPeriod || f().controls.billMonth.errors?.required }">
                <option value=""></option>
                <option *ngFor="let month of months" [ngValue]="month.id">
                  {{ month.text }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="billYear">Period Year</label>
              <select class="form-control" id="billYear" formControlName="billYear" (change)="onBillMonthChange()"
                [ngClass]="{ 'border border-danger': f().controls.billYear.errors?.billPeriod || f().controls.billYear.errors?.required }">
                <option value=""></option>
                <option *ngFor="let year of years" [value]="year">{{ year }}</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <label for="attachment">Receipt</label>
              <input type="file" class="form-control" id="attachment"
                [ngClass]="{ 'border border-danger': (f().controls?.filename?.errors?.required) }"
                (change)="handleFileInput($event.target.files)">
            </div>
          </div>
          <div class="form-row" *ngIf="f().controls?.attachment?.value != null">
            <div class="form-group col-3">
              <div id="container" (click)="previewImage();"
                style="background-image: url({{f().controls?.attachment.value}});">
                <button id="x" (click)="removeImage();">
                  X
                </button>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col d-flex justify-content-end w-100">
              <button type="button" (click)="backClicked()" class="btn btn-primary">Back</button>
              &nbsp;
              <button type="button" (click)="save()" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Table -->
  <!-- ============================================================== -->