<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" dir="ltr" data-theme="light" data-layout="vertical" data-boxed-layout="full">
    <div class="page-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <footer class="footer text-center">
            All Rights Reserved by Xtreme Admin. Designed and Developed by <a
                href="https://wrappixel.com">WrapPixel</a>.
        </footer>
    </div>
</div>