<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="f()">
          <div class="form-row" *ngIf="f().controls.amount?.errors?.required">
            <div class="col-md-12">
              <ngb-alert [dismissible]="false">
                Amount must not be empty.
              </ngb-alert>
            </div>
          </div>
          <div class="form-row" *ngIf="f().controls.amount?.errors?.pattern">
            <div class="col-md-12">
              <ngb-alert [dismissible]="false">
                Amount must be number.
              </ngb-alert>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-1">
              <label for="Amount">Amount</label>
              <input class="form-control" formControlName="amount"
                [ngClass]="{ 'border border-danger': f().controls.amount.errors?.required || f().controls.amount.errors?.pattern }"
                id="amount" placeholder="Amount">
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <hr />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col d-flex justify-content-end w-100">
              <button type="button" (click)="save()" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->